
<div class="jumbotron">
	<div class="container">

	</div>
</div>

<div class="main">
	<div class="container">
		<div class="row">
			<% @products.each do |product| %>
				<div class="col-md-4">
					<div class="products">
						<div class="product_image"><%= image_tag product.image %></div>
						<p><%= product.description %></p>
						<p><%= @lastreview %></p>
						<button class="btn btn-default"><%=link_to 'Read Reviews', product %></button>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

