// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body h3 a {
	color: #3299BB;
}

.jumbotron img {
	width: 100%;
}

body .jumbotron {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 60px;
}

body .col-md-4 {
	float: left;
	margin-top: 40px;
}

.product_image img {
	width: 100%;
	margin-bottom: 20px;
}

.products {
	background-color: white;
	border-radius: 3px;
	padding: 10px;
}

.productdescription {
	margin-bottom: 40px;
}

.latestreview {
	border: 1px solid #e8e8e8;
	margin-bottom: 20px;
}

/* Reviews */

.reviewtitle {
	background-color: #F1F1F1;
	padding: 10px;
	border-bottom: 1px solid #e8e8e8;
	height: 40px;
}

.reviewtitle h4 {
	float: left;
	margin-top: 0px;
}

.reviewtitle span {
	float: right;
	background-color: #3299BB;
	color: white;
	padding: 1px 5px;
	border-radius: 2px;
}

.reviewtext {
	padding: 10px;
	border-bottom: 1px solid #e8e8e8;
}

.reviewtext p {
	clear: both;
}

#review_detail {
	padding: 10px 0px;
}

.row.review {
	margin-top: 10px;
	padding:10px;
	background: #FFF;
}

.row.review.title {
	margin-top: 10px;
	padding:10px;
	background: #F1F1F1;
}
.review_title {
	padding: 5px 0px;
	font-weight: bold;
}

.review_description {
	padding: 5px 0px;
}

#review.container {
	padding-bottom: 50px;
}

.review_user {
	padding: 5px 0px;
}

.upvote {
	padding: 10px 0px;
}

h3.rating {
	padding: 10px 0px;
	margin-top: 0px; 
}

.metadata img {
	width: 20px;
	margin-right: 5px;
}

.button {
	text-align: center;
}

.button button {
	border: 1px solid #FF9900;
	border-radius: 2px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	margin-bottom: 10px;
}

.button button:hover {
	border: 1px solid #FF9900;
	background-color: #FF9900;
}

.button button:hover a {
	color: white;
	text-decoration: none;
}

.metadata {
	font-size: 10px;
	padding: 5px 10px;
}

.reviewtime {
	float: right;
}